* {
  margin: 0;
  padding: 0;
}

span {
  position: relative;
}

.locate {
  position: relative;
  top: -100px;
  right: -425px;
}

.app {
  background-color: #fafafa;
}

.appHeader {
  padding-top: 50px;
  background-color: white;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  position: sticky;
  height: 10vh;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.418);
}

.appHeader > button {
  height: 50px;
  width: 80px;
  margin: auto;
  margin-right: 20px;
  padding: 0 5px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: 0px 2px 0px rgb(180, 137, 180);
  color: rgb(145, 54, 145);
}

.appHeader > button:hover {
  transform: translateY(-4px);
  transition: all 0.8s;
}

.appHeaderImage {
  width: 8%;
  object-fit: contain;
  padding: 0;
  position: relative;
  top: -20px;
}

#map {
  float: right;
  height: 500px;
  /* max-width: 550px; */
  /* margin: 135px 25px auto 10px; */
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 5;
  /* position: absolute; */
  /* right: 0; */
}

.locate{
  margin: -10px 39%;
  border-radius: 10px;
  height: 30px;
  width: 80px;
}

.locate:hover{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

#root{
  background-color: rgb(231, 231, 231);
}
